@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Big Shoulders Display', cursive;
  color: #f2f2f2;
}

p {
  font-family: sans-serif;
  opacity: 0.8;
}

h1 {
  font-weight: 700;
}

.bgOne {
  background-color: #e28525;
}

.bgTwo {
  background-color: #016972;
}

.bgThree {
  background-color: #00403f;
}

.bgOne button:hover {
  background-color: #f2f2f2;
  color: #e28525;
  cursor: pointer;
}
.bgTwo button:hover {
  background-color: #f2f2f2;
  color: #016972;
  cursor: pointer;
}
.bgThree button:hover {
  background-color: #f2f2f2;
  color: #00403f;
  cursor: pointer;
}

.center_all {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.card {
  width: 300px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  padding: 12px 10px;
  border: 2px solid white;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background-color: transparent;
  display: inline;
  font-size: 20px;
}
